*{
  box-sizing: border-box;
}
body{
  // font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,sans-serif;
  font-family: Palatino, serif;
  padding: 0;
  margin: 0;
/*  background-color: #e0e0e0;*/
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
}
a{
  
  text-decoration: none;
}
button{
  text-transform: capitalize !important;
}
/* width */
// ::-webkit-scrollbar {
//   width: 0px;

// }

// /* Track */
// ::-webkit-scrollbar-track {
//   background: #ffffff;

// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #ff0000;

// }

// // /* Handle on hover */
// // ::-webkit-scrollbar-thumb:hover {
// //   background: #a2d5f2;
// // }
